p, h1, a, h2 {
  font-family: 'inconsolata', consolas;
}

.title h1 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  padding:0;
}


.top-nav {
  float: none;
  text-align: center;
  color: #d08d8d;
  overflow: hidden;
}

.top-nav a {
  color: #000000;
  text-align: center;
  padding: 10px 10px;
  font-size: 17px;
  text-decoration: underline;
}

.top-nav a:hover {
  color: #d08d8d;
}

.description {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 190px;
}

.description h2 {
  text-align: left;
}

.wrap {
  display:inline-block;
}
.personal-pic, .personal-text {
  display:inline-block;
  vertical-align: middle;
}

.personal-pic {
  width:30%;
}

.personal-text {
  text-align:left;
  margin-left: 55px;
  width:500px;
}

.personal-text h2 {
  color: #d08d8d;
}

.personal-text a {
  color: #d08d8d;
}

.personal-text a:hover {
  color: #e7c6c6;
}


.footer {
    display: inline-block;
    text-align: center;
    bottom: 0;
    height: 2em;
    left: 0;
    position: relative;
    width:100%;
}

.icons {
  text-align: center;
}

.icons li {
  display:inline;
  float: none;
}

.icons i {
  color: #d08d8d;
  font-size: 25px;
  padding:8px;
  position: relative;
  right:15px;
}

.content {
  padding-top: 30px;
  text-align:center;
}

.download-link {
  padding-bottom: 30px;
}

.content a {
  margin-bottom: 20px;
  font-size:20px;
  color: #d08d8d;
  font-weight: bold;
  padding-bottom: 30px;
}

.content a:hover {
  color: #e7c6c6;
}

.iframe {
  display: block;
  position: absolute;
}

.container {
  margin-top: 50px;
  padding-left: 50px;
}

.row {
  margin-bottom: 20px;
}

.card img{
  width: 17.9rem;
  height: 17.9rem;
}

.card {
  width:18rem;
  margin-bottom: 12px;
}
